@{
    Layout = null;
}
@using Application.Models
@model List<BookModel>

<!DOCTYPE HTML>
<html>
<head>
    <title>Book Store</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">
                <a href="/Home/Index" class="logo">
                    <span class="fa fa-book"></span> <span class="title">Book Store</span>
                </a>
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <nav id="menu">
            @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
            {
                <h5>Welcome @User.Identity.Name</h5>
            }
            <h2>Menu</h2>
            <ul>
                <li><a href="/Home/Index" class="active">Home</a></li>
                <li><a href="/Books/Index">Books</a></li>
                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrator"))
                    {
                        <li><a href="/Admin/Index">Admin Panel</a></li>
                    }
                    <li><a href="/Identity/Account/Logout">Logout</a></li>
                    <li><a href="/Checkout/Index">Checkout</a></li>
                }
                else
                {
                    <li><a href="/Identity/Account/Login">Login</a></li>
                    <li><a href="/Identity/Account/Register">Register</a></li>
                }
            </ul>
        </nav>
        <div id="main">
            <div class="inner">
                <h1>Checkout</h1>

                @if (Model == null || Model.Count == 0)
                {
                    <h3>You didn't add any book to shopping cart. </h3>
                }
                else
                {
                    <h3>Last step to buy the following books: </h3>
                    <hr />
                    {
                        int i = 1;
                        foreach (var book in Model)
                        {
                            <h4> @i. @book.Title</h4>
                        }
                    }
                    <button class="btn btn-primary btn-small" style="margin-top: 50px; text-align: center" onclick="Site.finishCheckout()">Finish</button>
                }

                <h4 class="text-success" id="successMessage" style="display: none">You have successfully created an order.</h4>
            </div>
        </div>

        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Contact Info</h2>

                    <ul class="alt">
                        <li><span class="fa fa-envelope-o"></span> <a href="#">contact@bookstore.com</a></li>
                        <li><span class="fa fa-phone"></span> +1 333 4040 5566 </li>
                        <li><span class="fa fa-map-pin"></span> 212 Barrington Court New York, ABC 10001 United States of America</li>
                    </ul>

                    <h2>Follow Us</h2>

                    <ul class="icons">
                        <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>

                <ul class="copyright">
                    <li>Copyright © 2022 Book Store </li>
                </ul>
            </div>
        </footer>

    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>							