<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body>
	<div id="wrapper">

   <header id="header">
			<div class="inner">
				<a href="/Home/Index" class="logo">
					<span class="fa fa-book"></span> <span class="title">Book Store</span>
				</a>
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/Home/Index" class="active">Home</a></li>
				<li><a href="/Book/Index">Books</a></li>
				<li><a href="/Identity/Account/Login">Login</a></li>
				<li><a href="/Identity/Account/Register">Register</a></li>
				<li><a href="/Checkout/Index">Checkout</a></li>
			</ul>
		</nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/main.js"></script>
	</div>
</body>
</html>
